<form class="{{cssClass}}" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>

          <div class="subfields">
            <div class="subfieldsBlock">
              <button class= "lasersButton" type="button" onclick="alert('Lasers')">Lasers</button>
            </div>

            <div class="subfieldsBlock">
              <select class="numberdropdown" name="data.theOnlyStat" data-dtype="Number">
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
              </select>
            </div>

            <div class="subfieldsBlock">
              <button class= "feelingsButton" type="button" onclick="alert('Feelings')">Feelings</button>
            </div>
          </div>


      </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="body-container">
      <div class="row">
<!-- Columns begin here -->
          <div class="column">
              <div class="bodyfieldsLabel">
                  <span>{{localize SIMPLE.Style}}Style: </span>
              </div>

              <div class="bodyfieldsLabel">
                  <span>{{localize SIMPLE.Role}}Role: </span>
              </div>

              <div class="bodyfieldsLabel">
                  <span>{{localize SIMPLE.Goal}}Goal: </span>
              </div>
          </div>

          <div class="column">
              <div class="bodyfields">
                  <input class="styleinput" name="data.style" type="text" value="{{data.style}}" placeholder="Style" />
              </div>

              <div class="bodyfields">
                  <input class="roleinput" name="data.role" type="text" value="{{data.role}}" placeholder="Role" />
              </div>

              <div class="bodyfields">
                  <input class="goalinput" name="data.goal" type="text" value="{{data.goal}}" placeholder="Goal" />
              </div>
          </div>
          <!-- Columns ends here -->
      </div>
      <!-- flex row ends here -->
      <div class="notepad" data-group="primary" data-tab="notepad" placeholder="Notes"></div> 
      {{editor content=data.notepad target="data.notepad" button=true owner=owner editable=editable}}
      </div>
    </div>
<!-- body-container ends here -->

  </section>
</form>